matplotlib==3.6.3
mthree==1.1.0
nbformat==5.4.0
numpy==1.19.5
pandas==1.2.1
plotly==4.14.3
pylatexenc==2.10
qiskit==0.39.4
qiskit_aer==0.11.2
qiskit_terra==0.22.3
qiskit_optimization[cplex]==0.4.0
seaborn==0.11.2
